

body {
    font-size: 16px;
    line-height: 1.2em;
    font-family: 'Arial', sans-serif;
    color: black;
}

.header {
    width: 100%;
    margin-top: 10px;
}

.header-inner {
    padding: 10px;
    display: flex;
    justify-content: flex-end;  
    flex-direction: row;    
}

.header-inner-el {
    margin: 10px;
}

a.links {
    vertical-align: -50%;
}

a.links:link, a.links:visited {
    text-decoration: none;
    color: black;
  }
    
a.links:hover, a.links:active {
    text-decoration: underline;
    color: grey;
  }

.avatar {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}
.avatar:hover {
    cursor: pointer;
}

.popup-button {
    vertical-align: -75%;
    width: 1.3em;
    opacity: .50;
}

.popup-button:hover {
    opacity: 100;
    transition: 0.2s;
    cursor: pointer;
}

.popup-box {
    position: absolute;
    z-index: 999;
    width: 0;
	height: 0;
    opacity: 0;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 80px;
}

.popup-box:target {
    position: absolute;
    z-index: 999;
    width: 300px;
	height: 200px;
    opacity: 1;
    -webkit-transition:  opacity 1s ease;
	transition: opacity 1s ease;
}





